@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans";
    font-weight: 400;
    font-size: 16px;
    color: #69707D;
}

.container {
    max-width: 1110px;
    margin: 28px auto 132px;
    /* background-color: tomato; */
}

nav {
    border-bottom: 1px solid #E4E9F2;
    display: flex;
    gap: 56px;
    padding-bottom: 34px;
    margin-bottom: 90px;
}

nav>a {
    text-decoration: none;
    align-self: center;
}

.nav-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: blue; */
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

ul>a {
    color: inherit;
    text-decoration: none;
}

.conversions {
    display: flex;
    gap: 46px;
    align-items: center;
}

main {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 125px;
    margin: 0 auto;
    width: 1015px;
}


.left>img:first-child {
    margin-bottom: 32px;
}

article.left>a:not(:nth-of-type(4))>img {
    margin-right: 23px;
}

.right h4 {
    color: #FF7E1B;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.right h1 {
    color: #1D2026;
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}

.right>p:nth-of-type(1) {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
}

.discount {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 10px;
}

.discount>p:nth-child(1) {
    color: #1D2026;
    font-size: 28px;
    font-weight: 700;
}

.discount>p:nth-of-type(2) {
    color: #FF7E1B;
    font-size: 16px;
    font-weight: 700;
    background: #FFEEE2;
    padding: 6px 8px;
    border-radius: 6px;
}

.right>p:nth-of-type(2) {
    color: #B6BCC8;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: line-through;
    margin-bottom: 28px;
}

.checkout {
    display: flex;
    gap: 15px;
}

.counter {
    text-align: center;
    background: #F6F8FD;
    border-radius: 10px;
    display: flex;

    font-size: 32px;
    font-weight: 700;
    gap: 46px;
    padding: 16px 22px;
}

/* .counter a {
    display: inline-block;
} */

.cta a {
    align-items: center;
    border-radius: 10px;
    background: #FF7E1B;
    box-shadow: 0px 20px 50px -20px #FF7E1B;
    display: flex;
    gap: 16px;
    padding: 20px 76px;
    text-wrap: nowrap;
    text-decoration: none;
    color: #FFF;
}